<!-- <ion-header>
  <ion-toolbar>
    <ion-title>loader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<main>
    <div class="content">
        <div class="title-group">
            <span class="heading">Welcome to Gym Tracker</span>
            <span class="subheading"
                >An app that will help you analyze and track your gym
                activity</span
            >
        </div>
        <button type="button">CONTINUE</button>
        <ion-button class="continue__btn">CONTINUE</ion-button>
    </div>
</main>
