<!-- <ion-header>
  <ion-toolbar>
    <ion-title>index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<main>
    <div class="content">
        <div class="daily_summary__card">
            <div class="card__header">
                <span class="card__title">Gym</span>
                <span class="card__subtitle">Today</span>
            </div>
            <div class="card__body">
                <div class="card__items">
                    <div class="card__item">
                        <span class="card__item__name fire">Push</span>
                        <span class="card__item__time">0</span>
                        <span class="card__item__timelabel">min</span>
                    </div>
                    <div class="card__item">
                        <span class="card__item__name earth">Pull</span>
                        <span class="card__item__time">0</span>
                        <span class="card__item__timelabel">min</span>
                    </div>
                    <div class="card__item">
                        <span class="card__item__name water">Legs</span>
                        <span class="card__item__time">0</span>
                        <span class="card__item__timelabel">min</span>
                    </div>
                </div>
                <div class="card__aside">
                    <div class="card__figure">
                        <div class="card__chart outer fire__bg">
                            <div class="card__chart regular earth__bg">
                                <div class="card__chart inner water__bg">
                                    <div class="card__chart center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
